{% extends "base.html" %}

{% block content %}
    <!-- Header -->
    <header class="bg-light-blue py-5 text-center">
        <div class="container">
            <h1 class="display-4 fw-bolder text-dark mb-4">{{category}}</h1>
            <p class="lead fw-normal text-muted mb-0">Category Page</p>
        </div>
    </header>

    <!-- Section -->
    <section class="py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
                {% for product in products %}
                    <div class="col">
                        <div class="card h-100 shadow">
                            <!-- Image Slider -->
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{{ product.image.url }}" class="d-block w-100" alt="{{ product.name }}">
                                    </div>
                                    <!-- Add more carousel items for additional product images -->
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    {% if product.is_sale %}
                                        <span class="text-muted text-decoration-line-through">${{ product.price }}</span>
                                        <span class="badge bg-danger">Sale</span>
                                        <span class="h5">${{ product.sale_price }}</span>
                                    {% else %}
                                        <span class="h5">${{ product.price }}</span>
                                    {% endif %}
                                    <!-- Tooltip for additional product information -->
                                    

                                    <a href="{% url 'product' product.id %}" class="btn btn-custom">View Product</a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
